@model IEnumerable<FCStore.Models.Column>

@foreach (var item in Model)
{
    bool tag = item.Products != null && item.Products.Count > 0;
    <div class="MainBlock">
        <div class="title">
            @item.Describe
        </div>
        <div class="content">
            <div class="big">
                @if (tag)
                {
                    Html.RenderAction("_BigItem", "Column", item);
                }
            </div>
            <div class="small">
                @if (tag)
                {
                    Html.RenderAction("_SmallItem", "Column", item);
                }
            </div>
            <div class="brands">
                @{
                    if (tag)
                    {
                        List<FCStore.Models.Brand> brands = (from pArr in item.Products select pArr.Brand).Distinct().ToList();
                        @*foreach (var bItem in brands)
                        {
                            <div class="bItem">
                                <div class="icon">
                                    <img src="/Brand/@(bItem.Tag).jpg" alt="@(bItem.Name2)" />
                                </div>

                            </div>
                        }*@
                        Html.RenderAction("_CategoryList", "Category", brands);
                    }
                }
            </div>
        </div>
    </div>
}