body {
    font-size: .85em;
    font-family: Georgia, SimSun, "宋体";
    font-family: Arial, "Microsoft YaHei", "微软雅黑";
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}

* {
    margin:0px;
    padding:0px;
}

html,body {
    width:100%;
    height:100%;
}

.p1 {
    width:100%;
}

.p2 {
    width:50%;
}

li {
    list-style-type:none;
    float:left;
}

a, a:visited {
    color:#676767;
    cursor:pointer;
    text-decoration:none;
}

a:hover {
    color:#cc0000;
}

.pullupDiv {
    clear:both;
}

.textaligncenter {
    text-align:center;
}

/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}

/* loading
-----------------------------------------------------------*/
.loadingEle {
    position:absolute;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
    width:100%;
    background-color:#e3e3e3; 
    z-index:99; 
    opacity:0.5;
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
}

    .loadingEle img {
        position:absolute;
        top:50%;
        left:50%;
        margin-left:-16px;
        margin-top:-16px;
    }

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

/* Styles for Login
-----------------------------------------------------------*/
#LoginDiv {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-180px;
    margin-top:-120px;
    width:360px;
    height:240px;
    border:solid 1px Red;
}

    #LoginDiv .title {
        padding-top:10px;
        text-align:center;
        font-size:x-large;
        font-weight:bolder;
        padding-bottom:20px;
    }

#registerBtn {
    float:right;
    margin-right:20px;
    width:100px;
    height:30px;
}

#loginUl {
    width:80%;
    margin:10%;
}

    #loginUl li {
        height:35px;
        vertical-align:central;
        line-height:35px;
    }

    #loginUl li:nth-child(2n) {
        width:70%;
    }

    #loginUl li:nth-child(2n+1) {
        width:30%;
    }

        #loginUl li input {
            height:27px;
            width:200px;
        }

    #LoginDiv .btnDiv {
        padding-top:10px;
        padding-bottom:10px;
        padding-left:10%;
        padding-right:10%;
        height:30px;
        width:80%;
        text-align:right;
    }

        #LoginDiv .btnDiv input {
            width:100px;
            height:30px;
        }

#otherLoginDiv {
    float:left;
}

/* Styles for Home
-----------------------------------------------------------*/
#headerDiv {
    width:100%;
    height:90px;
    background:#0094ff;
    font-size:220%;
}

    #headerDiv .icon {
        margin-left:30px;
        float:left;
        width:153px;
        height:93px;
        margin-right:20px;
    }

    #headerDiv label {
        margin:20px 0px;
        float:left;
    }

#MainDiv {
    position:absolute;
    width:900px;
    top:90px;
    bottom:0px;
    left:50%;
    margin-left:-450px;
    border-left:solid 1px #ccc;
    border-right:solid 1px #ccc;
    box-shadow : 1px 1px 8px 1px #585858;
    background-color:rgba(255,255,255,.6)!important;
}

#loginDiv {
    float:right;
}

#SearchDiv {
    padding:4px;
    position:relative;
}

    #SearchDiv .inputDiv {
        width:100%;
        height:28px;
        line-height:28px;
        vertical-align:central;
        padding:10px 10px;
        font-size:120%;
    }

#searchTB {
    width:710px;
    height:23px;
}

#searchBtn {
    width:50px;
    height:25px;
}

    #SearchDiv .resultDiv {
        width:98%;
        padding:0px 1%;
    }

#searchResult {
    width:100%;
    height:530px;
}

.resultTitle {
    height:30px;
    font-size:110%;
    font-weight:bold;
    background-color:#0094ff;
    color:white;
    line-height:30px;
    vertical-align:central;
}

    .resultTitle li:nth-child(4n + 1) {
        width:68%;
        padding:3px 1%;
    }

    .resultTitle li:nth-child(4n + 2) {
        width:8%;
        padding:3px 1%;
        text-align:center;
    }

    .resultTitle li:nth-child(4n + 3) {
        width:8%;
        padding:3px 1%;
        text-align:center;
    }

    .resultTitle li:nth-child(4n + 0) {
        width:8%;
        padding:3px 1%;
        text-align:center;
    }

    #searchResult li {
        height:20px;
        line-height:20px;
        vertical-align:central;
        overflow:hidden;
    }

    #searchResult li:nth-child(4n + 1) {
        width:68%;
        padding:3px 1%;
    }

    #searchResult li:nth-child(4n + 2) {
        width:8%;
        padding:3px 1%;
        text-align:center;
    }

    #searchResult li:nth-child(4n + 3) {
        width:8%;
        padding:3px 1%;
        text-align:center;
    }

    #searchResult li:nth-child(4n + 0) {
        width:8%;
        padding:3px 1%;
        text-align:center;
    }

    #searchResult li:nth-child(8n + 5),
    #searchResult li:nth-child(8n + 6),
    #searchResult li:nth-child(8n + 7),
    #searchResult li:nth-child(8n + 0) {
        background-color:#b6f8f8;
    }

#pageDiv {
    padding:10px 2%;
    width:96%;
    text-align:center;
    height:22px;
}

#pageUl {
    width:310px;
    margin:0px auto;
}

    #pageUl li {
        height:20px;
        width:22px;
        margin:0px 5px;
        font-size:110%;
        font-weight:bold;
        border:solid 1px #ccc;
        text-align:center;
        line-height:20px;
        vertical-align:central;
    }

    #pageUl .sel {
        background-color:#0094ff;
        border:solid 1px #0094ff;
        color:white;
    }

    #pageUl .sel a {
        color:white;
    }

#DealwithDiv {
    position:absolute;
    width:400px;
    padding-left:3px;
    top:90px;
    bottom:0px;
    left:-373px;
}

    #DealwithDiv .content {
        width:370px;
        height:100%;
        float:left;
        overflow:auto;
        background-color:white;
        box-shadow : 1px 1px 8px 1px #585858;
        filter:alpha(opacity=30);  /*支持 IE 浏览器*/
        -moz-opacity:0.30; /*支持 FireFox 浏览器*/
        opacity:0.30;  /*支持 Chrome, Opera, Safari 等浏览器*/
    }
    

    #DealwithDiv .tip {
        width:29px;
        float:right;
        font-size:120%;
        font-weight:bold;
        text-align:center;
        background-color:#ff6a00;
        border-right:solid 1px #ad4508;
        border-bottom:solid 1px #ad4508;
        box-shadow : 1px 1px 8px 1px #585858;
        cursor:pointer;
    }


        #DealwithDiv .content label {
            float:left;
            clear:both;
            margin-top:8px;
            color:#ad4508;
        }

        #DealwithDiv .content img {
            float:left;
            height:180px;
            width:350px;
            clear:both;
        }