@model IEnumerable<FCStore.Models.User>
<div id="Contacts">
    <label>FC微店</label>
    <img src="/Content/themes/image/fcweidiancode.png" width="80" height="80" />
    <label>联系方式</label>
    <div id="ServiceLST">
        <ul>
            <li><a class="item" rel="nofollow" href="#" title="联系电话" target="_blank"></a></li>
            <li><a class="item" rel="nofollow" href="http://wpa.qq.com/msgrd?v=3&amp;uin=86945494&amp;site=qq&amp;menu=yes" title="QQ客服" target="_blank"></a></li>
            <li><a class="item" target="_blank" href="http://www.taobao.com/webww/ww.php?ver=3&touid=fionhuo&siteid=cntaobao&status=2&charset=utf-8"><img border="0" src="http://amos.alicdn.com/online.aw?v=2&uid=fionhuo&site=cntaobao&s=2&charset=utf-8" alt="点击这里给我发消息" /></a></a></li>
            <li><div id="orderBtn" class="item"></div></li>
            <li><a class="item" href="http://localhost:1152/Home/OnlineContact" title="QQ客服2" target="_blank"></a></li>
        </ul>
    </div>
</div>