@model IEnumerable<FCStore.Models.Column>

@foreach (var item in Model)
{
    bool tag = item.Products != null && item.Products.Count > 0;
    <div class="MainBlock">
        <div class="top">
            <label class="name">@(item.Describe)</label>
            <label class="more">
                <a>更多...</a>
            </label>
            @{
                List<FCStore.Models.Brand> brandList = (from pro in item.Products
                                                        where pro.Brand.NameStr != "其他"
                                            select pro.Brand).Distinct().ToList();
                for (int i = 0; i < Math.Min(3, brandList.Count); i++)
                {
                    FCStore.Models.Brand brand = brandList[i];
                    <label class="brand">
                        <a href="/Brand/ProductList/@(brand.BID)">
                            @(brand.NameStr)
                        </a>
                    </label>
                }
            }
            <label class ="pinpai">品牌：</label>
            <div class="pullupDiv"></div>
        </div>
        <div class="show">
            @{
                for (int i = 0; i < Math.Min(item.Products.Count, 10); i++)
                {
                    FCStore.Models.Product product = item.Products[i];
                    <div class="item">
                        <a href="/Product/Detail/@(product.PID)">
                            <div class="price">
                                <label class="mpLB">￥@(product.MarketPrice)</label><br />
                                <label class="pLB">￥@(product.Price)</label>
                            </div>
                            <div>
                                <img src="@(product.ImgPathArr[0])" />
                            </div>
                            <div class="title">
                                @(product.Title)
                            </div>
                        </a>
                    </div>
                }
                <div class="pullupDiv"></div>
            }
        </div>
        <div class="bottom"></div>
    </div>
}