@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>   
    @Styles.Render("~/Content/loginPage")
</head>
<body>
    <div id="regCDiv">
        <div id="register">
            <div class="ltTitle">用户注册</div>
            <div class="gif">现在注册可立即获得<font color="#cc0000" size="4">100</font>积分</div>
            <div class="inputDiv">
                <div class="title">用户名：</div>
                <div class="value">
                    <input id="UserNameTB" />
                </div>
                <div class="tip">登陆时使用，少于10位字母或数字</div>
                <div class="title">邮箱：</div>
                <div class="value">
                    <input id="EmailTB" />
                </div>
                <div class="tip">真实的邮箱地址，登陆时也可使用</div>
                <div class="title">设置密码：</div>
                <div class="value">
                    <input id="PSWTB" type="password" />
                </div>
                <div class="tip">密码为6-16位字母或数字</div>
                <div class="title">确认密码：</div>
                <div class="value">
                    <input id="EPSWTB" type="password" />
                </div>
                <div class="tip">密码为6-16位字母或数字</div>
                <div class="title">验证码：</div>
                <div class="ccDiv1">
                    <input id="CheckCodeTB" />
                </div>
                <div class="ccDiv2">
                    <img onclick="LoginPageView.login.OnCheckCodeImgClick()" id="ccImg" src="/Home/GetValidateCode" />
                    <a href="#" onclick="LoginPageView.register.OnRefreshCCode()">看不清楚，换一张</a>
                </div>
                <div class="btnDiv">
                    <div class="cDiv">
                        <button onclick="LoginPageView.register.OnRegisterBtnClick()" class="registerBtn">同意一下协议，提交注册</button>
                        <button onclick="LoginPageView.register.OnResetBtnClick()" class="resetBtn">重置</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="rightDiv">
            <div class="ltTitle">
                RightGo网会员享受如下服务：
            </div>
            <div class="item">第一时间了解美国潮流资讯</div>
            <div class="item">第一时间获得美国商家打折信息</div>
            <div class="item">足不出户，轻松购遍美国</div>
            <div class="otherLogin">
                <div class="tFont">使用其他账号登录FCStore购物网：</div>
                <div class="p2">QQ登陆</div>
                <div class="p2">新浪微博</div>
                <div class="p2">人人网</div>
                <div class="p2">豆瓣登陆</div>
            </div>
        </div>
        <div class="agreement">
            <div class="ltTitle">RightGO网用户协议</div>
                @{
                    //从文件加载
                    string tmpFPath = Server.MapPath("~/agreement.txt");
                    string content = "";
                    FileInfo tmpFI = new FileInfo(tmpFPath);
                    if (File.Exists(tmpFPath))
                    {
                        FileStream tmpFS = File.OpenRead(tmpFPath);
                        byte[] tmpBuf = new byte[tmpFS.Length];
                        tmpFS.Read(tmpBuf, 0, (int)(tmpFS.Length));
                        content = System.Text.Encoding.Unicode.GetString(tmpBuf);
                    }
                }
                <div class="content">
                    @(content)
                </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/login")
</body>
</html>
