<targets>  
    <target xsi:type="Database" name="databaselog"> 
      <dbProvider>System.Data.SqlClient</dbProvider> 
      <connectionString>server=(local);Initial Catalog=PE.LayerArtitecture;Integrated Security=True;</connectionString> 
      <commandText> 
        insert into NLog_Error ([time_stamp],[level],[host],[type],[source],[logger],[message],[stacktrace],[allxml]) values(@time_stamp,@level,@host,@type,@source,@logger,@message,@stacktrace,@allxml); 
      </commandText> 
      <parameter name="@time_stamp" layout="${date}" /> 
      <parameter name="@level" layout="${level}" /> 
      <parameter name="@host" layout="${machinename}" /> 
      <parameter name="@type" layout="${exception:format=type}" /> 
      <parameter name="@source" layout="${callsite:className=true:fileName=false:includeSourcePath=false:methodName=false}" /> 
      <parameter name="@logger" layout="${logger}" /> 
      <parameter name="@message" layout="${message}" /> 
      <parameter name="@stacktrace" layout="${exception:stacktrace}" /> 
      <parameter name="@allxml" layout="${xml-encode}" /> 
    </target> 
  </targets> 
  <rules> 
    <!-- add your logging rules here --> 
    <logger minlevel="Info" name="*" writeTo="databaselog" /> 
  </rules>