@{
    ViewBag.Title = "Index";
}
@section scripts{
    <script type="text/javascript" charset="utf-8">
        $(function () {
            $("#searchBtn").on("click", IndexJS.ClickSearchBtn);
            $("#DealwithDiv").on("mouseenter", IndexJS.ShowTip);
        });
    </script>
}
<div id="headerDiv">
    <img class="icon" src="/Content/themes/image/FilmIcon.png" /><label class="name">Fion</label><label class="tip">电影分享网站</label>
    <div id="loginDiv"><a href="http://openapi.baidu.com/oauth/2.0/authorize?response_type=token&client_id=g022CA9auPQ49fAS3PvvX7wG&redirect_uri=http://www.rightgo.cn:81/test.html&scope=email&display=popup&state=xxx">百度登陆</a></div>
</div>
<div id="MainDiv">
    <div id="SearchDiv" class="p1">
        <div class="inputDiv">
            电影关键字：
            <input id="searchTB" type="text" />
            <input id="searchBtn" type="button" value="搜索" data-PIndex="1" />
        </div>
        <div class="resultDiv">
            <ul class="resultTitle">
                <li>
                    名称
                </li>
                <li>
                    磁链
                </li>
                <li>
                    种子
                </li>
                <li>
                    播放
                </li>
            </ul>
            <ul id="searchResult">                
                <!-- 搜索结果 -->
            </ul>
            <div id="pageDiv">
                <ul id="pageUl"></ul>
            </div>
        </div>
    </div>
</div>
<div id="DealwithDiv">
    <div class="content">
        <label>
            Step1:注册一个百度云账号(http://yun.baidu.com)
        </label>
        <img src="/Dealwith/Step1.png" />
        <label>
            Step2:登陆后，选择网盘
        </label>
        <img src="/Dealwith/Step2.png" />
        <label>
            Step3:点击离线下载,点击新建链接任务
        </label>
        <img src="/Dealwith/Step3.png" />
        <label>
            Step4:右键点击右边搜索到的资源里的“磁链”，然后按“复制链接地址”
        </label>
        <img src="/Dealwith/Step4.png" />
        <label>
            Step5:把复制的磁链地址粘贴到“文件链接”的输入框中即可
        </label>
        <img src="/Dealwith/Step5.png" />
    </div>
    <div class="tip">在线观看说明</div>
</div>