@{
    ViewBag.Title = "Index";
}

<div class="MainDiv">
    <div>
        <input id="searchTB" type="text" />
        <input id="searchBtn" type="button" />
    </div>
    <div>
        <ul id="searchResult">
            <li>
                名称
            </li>
            <li>
                下载种子
            </li>
            <li>
                播放
            </li>
            <!-- 搜索结果 -->
        </ul>
        <div>
            <ul id="pageUl">

            </ul>
        </div>
    </div>
</div>