* {
    margin:0px;
    padding:0px;
}

body,html {
    width:100%;
    height:100%;
}

body {
    font-size: .85em;
    font-family: Tahoma, Geneva, sans-serif;
}

.p2 {
    width:50%;
}

#centerDiv {
    position:absolute;
    left:50%;
    top:50%;
    margin-left:-320px;
    margin-top:-140px;
    width:640px;
    height:280px;
    border:solid 1px #cccccc;
    border-radius:8px;
    box-shadow:1px 1px 8px 1px rgb(88, 88, 88);
    color:rgb(88, 88, 88);
    padding:66px 8px 8px 8px;
    background-color:#D3DBDE;
    color:white;
}

#loginTop {
    position:absolute;
    left:50%;
    top:50%;
    width:600px;
    height:165px;
    margin-left:-300px;
    margin-top:-243px;
    background:url(/Content/themes/image/LoginTop.png) no-repeat center;
}

    #centerDiv label {
        color:white;
    }

#loginDiv {
    width:100%;
    height:100%;
    position:relative;
    background-color:#50a6bd;
}

    #loginDiv .ele {
        position:absolute;
        top:40px;
        left:50px;
        width:260px;
        height:210px;
        padding:10px;
    }

    #loginDiv .ltTitle
    {
        position:absolute;
        top:10px;
        left:40px;
        font-size:15pt;
        font-weight:700;
        color:#444444;
    }

    #loginDiv .tFont
    {
        font-size:12pt;
        font-weight:600;
        margin-bottom:5px;
    }

    #loginDiv .rightDiv {
        position:absolute;
        top:20px;
        left:360px;
        width:220px;
        height:210px;
        padding:10px 10px 10px 20px;
        border-left:solid 1px #cccccc;
    }
    
        #loginDiv .rightDiv .otherLogin {
            margin-top:30px;
            width:100%;
        }
        
            #loginDiv .rightDiv .otherLogin div{
                float:left;
            }

    #loginDiv .ele div {
        float:left;
        vertical-align:middle;
    }

    #loginDiv .ele .title {
        width:100%;
        text-align:left;
        margin-bottom:3px;
    }

    #loginDiv .ele .content {
        height:23px;
        line-height:23px;
        width:100%;
        margin:0px 0px 8px 0px;
    }

        #loginDiv .ele .content .enterTB {
            height:23px;
            line-height:23px;
            border:1px solid #dbdbdb;
            width:100%;

        }

    #loginDiv .ele .ccDiv1 {
        height:23px;
        line-height:23px;
        width:140px;
        margin:0px 0px 8px 0px;
    }

    #loginDiv .ele .ccDiv2 {
        width:100px;
    }

#resultDiv {
    width:90%;
    height:90%;
    padding:14px 5%;
    background-color:#50a6bd;
    color:white;
}

    #resultDiv .blb{
        float:left;
        font-size:20pt;
        width:100%;
        clear:left;
    }

    #resultDiv .bottom {
        float:left;
        width:100%;
    }

        #resultDiv .bottom *{
            float:left;
        }

    #resultDiv a {
        color:#cccccc;
    }

    #resultDiv a:hover {
        color:#cc0000;
    }

    #resultDiv .userName {
        margin:0px 5px;
    }

    #resultDiv .welcome {
        height:185px;
    }

    #resultDiv .ticket {
        color:#cc0000;
    }

#ccImg{
    margin-left:20px;
    height:23px;
    width:44px;
    cursor:pointer;
}

#loginDiv #loginBtn {
    margin-top:20px;
    width:100%;
    height:23px;
}

#loginDiv #checkCodeTB {
    width:100%;
}

#registerBtn {
    width:100%;
    clear:left;
}

/* loading
-----------------------------------------------------------*/
.loadingEle {
    position:absolute;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
    width:100%;
    background-color:#e3e3e3; 
    z-index:99; 
    opacity:0.5;
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
}

    .loadingEle img {
        position:absolute;
        top:50%;
        left:50%;
        margin-left:-16px;
        margin-top:-16px;
    }

/* register
-----------------------------------------------------------*/
#regCDiv {
    position:absolute;
    left:50%;
    top:50%;
    margin-left:-375px;
    margin-top:-255px;
    width:750px;
    height:460px;
    border:solid 1px #cccccc;
    border-radius:8px;
    box-shadow:1px 1px 8px 1px rgb(88, 88, 88);
    color:rgb(88, 88, 88);
    padding:10px;
}

#register {
    float:left;
    width:55%;
    position:relative;
    height:310px;
    border-right:1px solid #cccccc;
}

    #register .ltTitle {
        position:absolute;
        left:15px;
        top:8px;
        font-size:21px;
        font-family:"Microsoft yahei";
        color:#333333;
        font-weight:bold;
    }

    #register .gif {
        position:absolute;
        left:135px;
        top:20px;
        font-size:12pt;
        font-family:"Microsoft yahei";
        color:#333333;
    }

    #register .inputDiv {
        position:absolute;
        left:25px;
        top:48px;
        width:400px;
        font-size:11pt;
        font-size:12pt;
        color:#666666;
    }

        #register .inputDiv .title {
            float:left;
            width:100px;
            height:23px;
            line-height:23px;
            vertical-align:middle;
            text-align:right;
        }

        #register .inputDiv .value {
            float:left;
            width:270px;
            height:23px;
            line-height:23px;
            vertical-align:middle;
        }

            #register .inputDiv .value input {
                font-size:10pt;
                width:250px;
                height:18px;
                margin:auto 1%
            }

        #register .inputDiv .tip {
            float:left;
            font-size:9pt;
            color:#cccccc;
            width:290px;
            height:18px;
            line-height:18px;
            vertical-align:middle;
            margin-bottom:5px;
            padding-left:110px;
        }

        #register .inputDiv .ccDiv1{
            float:left;
            width:80px;
        }

            #register .inputDiv .ccDiv1 input {
                font-size:10pt;
                width:74px;
                height:18px;
                margin:auto 3px;
            }

        #register .inputDiv .ccDiv2{
            float:left;
            width:220px;
        }

            #register .inputDiv .ccDiv2 * {
                float:left;
            }

            #register .inputDiv .ccDiv2 a {
                font-size:10pt;
                color:#cccccc;
                height:23px;
                line-height:23px;
                vertical-align:middle;
                padding-left:5px;
                border:none;
                width:120px;
                cursor:pointer;
            }

                #register .inputDiv .ccDiv2 a:hover {
                    color:#cc0000;
                }

            #register .inputDiv .btnDiv {
                float:left;
                margin:10px 0px;
                width:100%;
                height:25px;
                text-align:center;
            }

            #register .inputDiv .btnDiv .cDiv {
                margin:0px auto;
                width:70%;
            }

                #register .inputDiv .btnDiv .registerBtn {
                    height:22px;
                }

                #register .inputDiv .btnDiv .resetBtn {
                    height:22px;
                }

    #regCDiv .rightDiv {
        float:left;
        width:44%;
    }

        #regCDiv .rightDiv .ltTitle {
            margin:8px 3% 10px 3%;
            width:94%;
            font-size:21px;
            font-family:"Microsoft yahei";
            font-weight:bold;
            color:#333333;
        }

        #regCDiv .rightDiv .item {
            margin:0px 6%;
            width:74%;
            padding-left:7%;
        }

        #regCDiv .rightDiv .otherLogin {
            margin:20px 3% 0px 3%;
            width:94%;
        }

    #regCDiv .agreement {
        float:left;
        clear:both;
        width:100%;
        margin-top:10px;
    }

        #regCDiv .agreement .ltTitle {
            font-size:15px;
            font-family:"Microsoft yahei";
            color:#333333;
            font-weight:bold;
            padding:0px 15px 0px 15px;
        }

        #regCDiv .agreement .content {
            border:1px solid #cccccc;
            width:96%;
            max-height:100px;
            height:100px;
            margin:5px 2%;
        }