* {
    margin:0px;
    padding:0px;
}

html {
    width:100%;
    height:100%;
    background-color:#FFFFFF;
}

body {
    width:100%;
    height:100%;
    font-size: .85em;
    font-family: Tahoma, Geneva, sans-serif;
    color:#676767;
    background-color: #EFEFEF;
    text-align:center;
}

a, a:visited {
    color:#676767;
    cursor:pointer;
    text-decoration:none;
}

li {
    list-style-type:none;
    float:left;
}

.lbtn1 {
    width:152px;
    height:51px;
    line-height:51px;
    vertical-align:middle;
    background:url("/Content/themes/image/BtnSource.png") no-repeat 0px -1px;
    border:none;
    color:white;
    font-size:15pt;
    font-weight:bolder;
    cursor:pointer;
}

.lbtn1:hover {
    background:url("/Content/themes/image/BtnSource.png") no-repeat -152px -1px;
}

.lbtn2 {
    width:152px;
    height:51px;
    line-height:51px;
    vertical-align:middle;
    background:url("/Content/themes/image/BtnSource.png") no-repeat -304px -1px;
    border:none;
    color:white;
    font-size:15pt;
    font-weight:bolder;
    cursor:pointer;
}

.lbtn2:hover {
    background:url("/Content/themes/image/BtnSource.png") no-repeat -456px -1px;
}

.lbtn3 {
    width:152px;
    height:51px;
    line-height:51px;
    vertical-align:middle;
    background:url("/Content/themes/image/BtnSource.png") no-repeat -608px -1px;
    border:none;
    color:white;
    font-size:15pt;
    font-weight:bolder;
    cursor:pointer;
}

.lbtn3:hover {
    background:url("/Content/themes/image/BtnSource.png") no-repeat -710px -1px;
}

.lbtngray {
    width:152px;
    height:51px;
    line-height:51px;
    vertical-align:middle;
    background:url("/Content/themes/image/BtnSource.png") no-repeat -911px -1px;
    border:none;
    color:#666666;
    font-size:15pt;
    font-weight:bolder;
    cursor:default;
}

.lbtngray:hover {
    background:url("/Content/themes/image/BtnSource.png") no-repeat -911px -1px;
}

.mbtn1 {
    width:81px;
    height:31px;
    line-height:31px;
    vertical-align:middle;
    background:url("/Content/themes/image/BtnSource.png") no-repeat 0px -53px;
    border:none;
    color:white;
    font-size:10pt;
    font-weight:600;
    cursor:pointer;
}

.mbtn1:hover {
    background:url("/Content/themes/image/BtnSource.png") no-repeat -82px -53px;
}

.mbtn2 {
    width:81px;
    height:31px;
    line-height:31px;
    vertical-align:middle;
    background:url("/Content/themes/image/BtnSource.png") no-repeat -164px -53px;
    border:none;
    color:white;
    font-size:10pt;
    font-weight:600;
    cursor:pointer;
}

.mbtn2:hover {
    background:url("/Content/themes/image/BtnSource.png") no-repeat -246px -53px;
}

.mbtn3 {
    width:81px;
    height:31px;
    line-height:31px;
    vertical-align:middle;
    background:url("/Content/themes/image/BtnSource.png") no-repeat -328px -53px;
    border:none;
    color:white;
    font-size:10pt;
    font-weight:600;
    cursor:pointer;
}

.mbtn3:hover {
    background:url("/Content/themes/image/BtnSource.png") no-repeat -410px -53px;
}

.mbtngray {
    width:81px;
    height:31px;
    line-height:31px;
    vertical-align:middle;
    background:url("/Content/themes/image/BtnSource.png") no-repeat -492px -53px;
    border:none;
    color:white;
    font-size:10pt;
    font-weight:600;
    cursor:pointer;
}

.mbtngray:hover {
    background:url("/Content/themes/image/BtnSource.png") no-repeat -492px -53px;
}

.sbtn1 {
    width:70px;
    height:24px;
    line-height:24px;
    vertical-align:middle;
    background:url("/Content/themes/image/BtnSource.png") no-repeat 0 -85px;
    border:none;
    color:white;
    font-size:10pt;
    font-weight:600;
    cursor:pointer;
}

.sbtn1:hover {
    background:url("/Content/themes/image/BtnSource.png") no-repeat -71px -85px;
}

.sbtn2 {
    width:70px;
    height:24px;
    line-height:24px;
    vertical-align:middle;
    background:url("/Content/themes/image/BtnSource.png") no-repeat -142px -85px;
    border:none;
    color:white;
    font-size:10pt;
    font-weight:600;
    cursor:pointer;
}

.sbtn2:hover {
    background:url("/Content/themes/image/BtnSource.png") no-repeat -213px -85px;
}

.sbtn3 {
    width:70px;
    height:24px;
    line-height:24px;
    vertical-align:middle;
    background:url("/Content/themes/image/BtnSource.png") no-repeat -284px -85px;
    border:none;
    color:white;
    font-size:10pt;
    font-weight:600;
    cursor:pointer;
}

.sbtn3:hover {
    background:url("/Content/themes/image/BtnSource.png") no-repeat -355px -85px;
}

.sbtngray {
    width:70px;
    height:24px;
    line-height:24px;
    vertical-align:middle;
    background:url("/Content/themes/image/BtnSource.png") no-repeat -426px -85px;
    border:none;
    color:white;
    font-size:10pt;
    font-weight:600;
    cursor:pointer;
}

.sbtngray:hover {
    background:url("/Content/themes/image/BtnSource.png") no-repeat -426px -85px;
}

.top {
    width:100%;
    height:70px;
    background:url("/Content/themes/image/head_bg.gif");
}

#ManagerMain {
    width:1000px;
    margin:0px auto;
    border-left:solid 1px #cacaca;
    border-right:solid 1px #cacaca;
    background-color:white;
    height:92%;
}

#ManagerMain .left {
    width:13%;
    height:100%;
    float:left;
    border-right:solid 1px #cacaca;
    background-color:#EBF5FC;
}

#ManagerMain .left .navigator {
    width:90%;
    margin:8px 5%;
}

#ManagerMain .left .navigator li {
    cursor:pointer;
    font-size:12pt;
    font-weight:bold;
    text-align:center;
    width:98%;
    padding:3px 0px;
    margin:5px 1%;
}

#ManagerMain .left .navigator a {
    color:#676767;
}

#ManagerMain .left .navigator a:hover {
    color:#0094ff;
}

#ManagerMain .right {
    width:86.9%;
    height:100%;
    float:left;
}

#ManagerMain .tabelContent {
    width:100%;
}

.contentTabel {
    width:98%;
    margin:8px;
    border:1px solid #EDECFF;
    empty-cells:show;
    table-layout:fixed;
}

    .contentTabel thead tr {
        height:26px;
        line-height:26px;
        font-size:10pt;
        font-weight:bold;
        color:#676767;
        background:url("/Content/themes/image/table_th_bg.gif");
    }

    .contentTabel tbody tr {
        min-height:30px;
    }

    .contentTabel tbody tr:nth-child(2n) {
        background-color:white;
    }

    .contentTabel tbody tr:nth-child(2n+1) {
        background-color:#EAEAEA;
    }
    .contentTabel tbody .tagTD {
        text-align:center;
    }

    .contentTabel tbody .tagTD .icon {
        width:25px;
        height:25px;
        margin:0px auto;
    }

    .contentTabel tbody .tr_edit .tagTD .icon {
        background-color:red;
    }

    .contentTabel tbody .tr_del {
        text-decoration:line-through;
        color:#cacaca;
    }

    .contentTabel tbody .tr_del .tagTD .icon {
        background-color:yellow;
    }

    .contentTabel tbody .tr_add .tagTD .icon {
        background-color:blue;
    }

    .contentTabel tbody td {
        height:30px;
        overflow:hidden;
        text-overflow:clip;
        white-space:nowrap;
    }

    .contentTabel .checkTD {
        width:30px;
    }

    .contentTabel .uploadify-queue-item .fileName {
        width:100%;
        display:block;
        overflow:hidden;
        text-overflow:ellipsis;
        white-space:nowrap;
    }

    .contentTabel .uploadify-queue-item .cancel {
        text-align:left;
    }

    .contentTabel .uploadify-queue-item .cancel a {
        float:none;
    }

#BMTable tbody tr {
    height:70px;
    vertical-align:middle;
}

#ManagerMain .tabelContent img {
    width:70px;
    height:70px;
}

#ManagerMain .right .toolbar {
    width:99%;
    height:31px;
    padding:4px;
    text-align:right;
    background-color:#EBF5FC;
    border-bottom:solid 1px #cacaca;
}

#PSMain {
    width:100%;
    height:100%;
}

    #PSMain .left {
        float:left;
        width:10%;
        height:100%;
        position:relative;
    }

    #PSMain .btnDiv {
        width:100%;
        height:60px;
    }

#selDiv {
    width:100%;
    position:absolute;
    top:60px;
    bottom:0px;
}

    #PSMain .right {
        float:left;
        width:74.8%;
        height:100%;
        border-left:solid 1px #676767;
        position:relative;
    }

    #PSMain .right .toolbar {
        width:98%;
        height:20px;
        padding:16px 1% 4px 1%;
    }

        #PSMain .right .toolbar .orderDiv {
            float:left;
        }

        #PSMain .right .toolbar .whereDiv {
            float:right;
        }

#PSMain .categoryLST {
    width:15%;
    height:100%;
    float:left;
    border-left:solid 1px #cacaca;
    overflow:scroll;
}

#PSMain .categoryLST .ztree li {
    width:100%;
}
 
#plDiv {
    border-top:solid 1px #676767;
    width:100%;
    top:40px;
    bottom:0px;
    position:absolute;
    overflow:scroll;
    background-color:#FFFFFF;
}
       
    #plDiv .item {
        float:left;
        width:190px;
        padding:13px 10px;
        font-size:10pt;
        text-align:center;
        position:relative;
        border-left:dashed 1px #C5C5C5;
        border-bottom:dashed 1px #C5C5C5;
    }

        #plDiv .item img{
            height:155px;
            width:146px;
        }

        #plDiv .item .title{
            width:180px;
            height:34px;
            overflow:hidden;
            margin:0px auto;
            text-align:left;
        }

        #plDiv .item .p60 {
            float:left;
            width:60%;
            overflow:hidden;
            text-align:left;
        }

        #plDiv .item .p40 {
            float:left;
            width:40%;
            overflow:hidden;
            text-align:left;
        }

        #plDiv .item .marketPrice {
            margin:0px auto;
            text-align:left;
        }
        
            #plDiv .item .marketPrice label {
                text-decoration:line-through;
            }

        #plDiv .item .price{
            margin:0px auto;
            text-align:left;
        }

            #plDiv .item .price label{
                color:#cc0000;
                font-weight:bold;
            }
        
        #plDiv .item .buyIcon {
            position:absolute;
            background:url("/Content/themes/image/LeftRightIcon.png") no-repeat -1px -1px;
            width:27px;
            height:27px;
            left:163px;
            top:210px;
        }