* {
    margin:0px;
    padding:0px;
}

body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}

li {
    list-style-type:none;
}

div {
}

.pullupDiv {
    clear:both;
}

.cut {
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
}

a, a:visited {
    cursor:pointer;
    text-decoration:none;
    color:#666666;
}

a:hover {
    color:#cc0000
}

.floatLeft {
    float:left;
}

.p1 {
    width:100%;
}

.p2 {
    width:49%;
}

.p4 {
    width:25%;
}

/* loading
-----------------------------------------------------------*/
.loadingEle {
    position:absolute;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
    width:100%;
    background-color:#e3e3e3; 
    z-index:99; 
    opacity:0.5;
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
}

    .loadingEle img {
        position:absolute;
        top:50%;
        left:50%;
        margin-left:-16px;
        margin-top:-16px;
    }

/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

/* Main
----------------------------------------------------------*/
#Main {
    float:left;
    width:100%;
    text-align:center;
}

#Center {
    margin:0px auto;
    width:880px;
}

/* Brand List
----------------------------------------------------------*/
#Brands {
    width:100%;
    overflow:hidden;
    max-height:120px;
}
    #Brands li{
        position:relative;
        width:100px;
        float:left;
        margin-right:4px;
        margin-bottom:2px;
    }
        #Brands li .icon {
            width:100%;
            height:40px;
        }

            #Brands li .icon img {
                width:100%;
                height:40px;

            }

        #Brands li .name {
            font-size:10pt;
            font-weight:bolder;
            width:100%;
            height:18px;
            line-height:18px;
            word-wrap:break-word;
            vertical-align:middle;
            text-align:center;
        }
/* Toolbar
----------------------------------------------------------*/
#Toolbar {
    width:100%;
    height:30px;
    background-color:#cc0000;
    margin-bottom:10px;
    line-height:30px;
    vertical-align:middle;
}

#Toolbar .title {
    margin-left:20px;
}

/* Category List
----------------------------------------------------------*/
#Categorys {
    position:absolute;
    top:170px;
    left:50px;
    /*float:left;*/
    width:150px;
    /*margin-left:-99%;*/
    border:solid 1px #ccc;
    /*position:relative;*/
    background-color:wheat;
}
    #Categorys .TCategory {
        font-size:13pt;
        font-weight:bold;
        height:30px;
        line-height:30px;
        width:100%;
        text-align:center;
        border-top:solid 1px #ccc;
        position:relative;
    }

    #Categorys li:first-child {
        border-top:none;
        background-color:#ccc;
    }

    #Categorys .item {
        width:150px;
        height:30px;
    }

    #Categorys .subCategory {
        position:absolute;
        left:100%;
        top:-1px;
        width:650px;
        border:solid 1px #ccc;
        display:none;
        background-color:white;
    }

        #Categorys .subCategory .scDiv {
            float:left;
            font-size:80%;
            text-align:left;
            width:48%;
            margin-left:1%;
            margin-right:1%;
        }

        #Categorys .subCategory .scDiv .scName {
            font-weight:bold;
            color:black;
        }

        #Categorys .subCategory .scDiv:nth-child(odd) {
            clear:left;
        }

        #Categorys .subCategory .scDiv .threeCategory {
            margin-bottom:7px;
        }

        #Categorys .subCategory .scDiv .tcDiv {
            margin:0px 5px;
            float:left;
            font-size:60%;
            text-align:center;
            height:20px;
            line-height:20px;
            font-weight:normal;
        }

#TopBtn {
    position:absolute;
    width:60px;
    height:55px;
    background-color:wheat;
    left:100%;
    margin-left:-60px;
    top:1px;
    display:none;
}

/* Main Block
----------------------------------------------------------*/
.MainBlock {
    width:100%;
    margin:3px 0px;
}

    .MainBlock .top {
        width:100%;
        border-top:solid 1px #cccccc;
        border-bottom:solid 1px #cccccc;
        background-color:#cc0000;
    }

        .MainBlock .top .name {
            float:left;
        }

        .MainBlock .top .brand {
            float:right;
            margin-left:15px;
        }

        .MainBlock .top .more {
            float:right;
            margin-left:30px;
            margin-right:5px;
        }

    .MainBlock .show {
        width:100%;
        height:406px;
        margin-bottom:15px;
    }

        .MainBlock .show .item {
            float:left;
            margin-right:2px;
            position:relative;
        }

            .MainBlock .show .item .price {
                position:absolute;
                left:-10px;
                top:0px;
                transform: rotate(-10deg);    
		        -o-transform: rotate(-10deg);
		        -webkit-transform: rotate(-10deg);
                filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=0.7660444431189777, M12=-0.6427876096865394, M21=0.6427876096865398, M22=0.7660444431189779);
                background-color:white;
            }

                .MainBlock .show .item .price .mpLB {
                    text-decoration:line-through;
                    font-size:8pt;
                }

                .MainBlock .show .item .price .pLB {
                    color:#cc0000;
                    font-size:10pt;
                    font-weight:bold;
                }

            .MainBlock .show .item img {
                width:145px;
                height:145px;
                margin:20px 5px 2px 2px;
            }

            .MainBlock .show .item .title {
                width:170px;
                height:30px;
                font-size:9pt;
                text-align:left;
                margin:0px 0px 2px 0px;
                overflow:hidden;
            }
                
/* Product Detail
----------------------------------------------------------*/
#PD_View {
    width:800px;
    margin:0px auto;
}

    #PD_View .top {
        width:100%;
        height:auto;
    }

#preview {
    width:348px;
    height:auto;
    float:left;
}

#categoryNav {
    width:100%;
    height:30px;
    font-size:10pt;
}

    #categoryNav div {
        margin:4px 2px;
        float:left;
        font-weight:bold;
    }

#spec-n1 {
    width:348px;
    height:330px;
    border:solid 1px #ccc;
}

#productImage {
    width:330px;
    height:330px;
    margin:0px 9px;
}

#spec-n5 {
    width:348px;
    height:85px;
}

    #spec-n5 div {
        float:left;
        height:100%;
    }

#spec-left {
    width:10px;
    border:1px solid rgb(204,204,204);
}

#spec-list {
    width:318px;
    position:relative;
}

    #spec-list li {
        float:left;
    }

    #spec-list .ILUl img{
        margin:7px;
        width:68px;
        height:68px;
        padding:3px 2px;
        margin:3px;
        border:1px solid rgb(204,204,204);
    }

#spec-right {
    width:10px;
    border:1px solid rgb(204,204,204);
}

#descriptContent {
    width:100%;
    text-align:center;
}

#descriptContent * {
    text-align:left;
    margin:0px auto;
}

#productInfo {
    float:left;
    width:440px;
    margin:0px 5px 5px 5px;
    height:415px;
    position:relative;
    border:solid 1px #ccc;
}

    #productInfo .title {
        width:70px;
        margin-right:2px;
        float:left;
        text-align:right;
    }

    #productInfo .content {
        text-align:left;
    }
    
#productTitle,#productBrand,#productPrice,#productSaleCount,#productSaleType,#productSend,#productChoose,#productSaleInput{
    margin-left:8px;
}

#productTitle {
    font-size:15pt;
    font-weight:bold;
    width:100%;
    margin:3px 5px;
    text-align:left;
}

#productBrand {
    overflow:hidden;
    width:100%;
    margin-top:15px;
}

    #productBrand div {
        float:left;
    }

    #productBrand .brandName {
        
    }

#productPrice {
    width:100%;
    overflow:hidden
}

    #productPrice div {
        float:left;
    }

    #productPrice .price {
        color:red;
        margin-right:5px;
    }

    #productPrice .marketPrice {
        text-decoration:line-through
    }

#productSaleCount {
    text-align:left;
    margin-bottom:15px;
}

#productBtn {
    position:absolute;
    top:100%;
    margin-top:-55px;
}

#productBtn .p2{
    text-align:center;
    float:left;
}

#buyBtn,#keepBtn {
    margin:2px auto;
    width:135px;
    height:45px;
}

#productSend {
    margin-bottom:15px;
}

/* Product List
----------------------------------------------------------*/
.productList {
    width:100%;
    margin-top:10px;
}

.tool,.btool {
    width:100%;
    height:20px;
    border-bottom:solid 2px #cc0000;
    text-align:left;
    font-size:10pt;
}

    .tool label {
        margin-right:5px;
    }

    .tool a {
        margin-left:5px;
    }

    .tool .asc {
        color:red;
    }

    .tool .desc {
        color:blue;
    }

.btool {
    border-top:solid 2px #cc0000;
    border-bottom:none;
    font-size:12pt;
    text-align:center;
    height:36px;
}
    .btool .page {
        margin:7px auto;
    }

        .btool .page .pItem {
            margin:0px 2px;
            border:solid 1px #cccccc;
            padding:2px 5px;
        }

        .btool .page .in {
            background-color:#00a3cc;
            border-color:#00a3cc;
            color:white;
        }

        .btool .page .gray {
            color:#fee;
        }

        .btool .page .pText {
            margin-left:10px;
        }

            .btool .page .pText .goLB {
                margin-left:5px;
            }
        
#GoPIInput {
    margin:0px 2px;
    width:32px;
}

.brandFilter {
    width:100%;
    border:solid 1px #cccccc;
}

    .brandFilter .title {
        float:left;
        width:5%;
        text-align:left;
        margin:10px;
    }

    .brandFilter .content {
        float:left;
        width:80%;
        margin:10px 0px;
        max-height:80px;
        overflow:hidden;
    }

    .brandFilter .btn {
        float:left;
        width:5%;
        margin:10px;
        text-align:center;
    }

        .brandFilter .btn button {
            width:70px;
            margin:0px auto;
        }

        .brandFilter .btn .most {
            margin-top:38px;
        }

    .brandFilter .item {
        width:24%;
        margin-right:1%;
        height:20px;
        float:left;
        text-align:left;
        overflow:hidden;
        text-overflow:ellipsis;
    }

        .brandFilter .item label {
            width:100%;
            font-size:9pt;
        }

.brandShow {
    width:100%;
    border:solid 1px #cccccc;
}

    .brandShow .title {
        float:left;
        width:5%;
        text-align:left;
        margin:10px;
    }

    .brandShow .content {
        float:left;
        width:80%;
        margin:10px 0px;
        max-height:80px;
        overflow:hidden;
    }

        .brandShow .content * {
            float:left;
        }

        .brandShow .content .brandImg {
            width:117px;
            height:58px;
        }

        .brandShow .content .brandName {
            margin-left:10px;
            font-size:15pt;
            font-weight:bold;
        }

    .productList .item {
        float:left;
        width:170px;
        margin:3px;
        font-size:10pt;
    }

        .productList .item img{
            height:170px;
            width:170px;
        }

        .productList .item .title{
            width:170px;
            height:34px;
            overflow:hidden;
            text-align:center;
        }

        .productList .item .marketPrice {
            width:170px;
        }
        
            .productList .item .marketPrice label {
                text-decoration:line-through;
            }

        .productList .item .price{
            width:170px;
        }

            .productList .item .price label{
                color:#cc0000;
                font-size:12pt;
                font-weight:bold;
            }

