* {
    margin:0px;
    padding:0px;
}

body {
    font-size: .85em;
    font-family: Tahoma, Geneva, sans-serif;
    color:#434343;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}

li {
    list-style-type:none;
}

div {
}

.pullupDiv {
    clear:both;
}

.cut {
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
}

a, a:visited {
    cursor:pointer;
    text-decoration:none;
    color:#0078b6;
}

a:hover {
    color:#cc0000;
}

.floatLeft {
    float:left;
}

.p1 {
    width:100%;
}

.p2 {
    width:49%;
}

.p4 {
    width:25%;
}

.btn1 {
    width:152px;
    height:51px;
    background:url("/Content/themes/image/main.png") no-repeat -1px -218px;
    border:none;
    color:white;
    font-size:15pt;
    font-weight:bolder;
    cursor:pointer;
}

.btn1:hover {
    background:url("/Content/themes/image/main.png") no-repeat -153px -218px;
}

.btn2 {
    width:152px;
    height:51px;
    background:url("/Content/themes/image/main.png") no-repeat -1px -269px;
    border:none;
    color:white;
    font-size:15pt;
    font-weight:bolder;
    cursor:pointer;
}

.btn2:hover {
    background:url("/Content/themes/image/main.png") no-repeat -153px -269px;
}


.btn3 {
    width:152px;
    height:51px;
    background:url("/Content/themes/image/main.png") no-repeat -1px -321px;
    border:none;
    color:white;
    font-size:15pt;
    font-weight:bolder;
    cursor:pointer;
}

.btn3:hover {
    background:url("/Content/themes/image/main.png") no-repeat -153px -321px;
}


/* loading
-----------------------------------------------------------*/
.loadingEle {
    position:absolute;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
    width:100%;
    background-color:#e3e3e3; 
    z-index:99; 
    opacity:0.5;
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
}

    .loadingEle img {
        position:absolute;
        top:50%;
        left:50%;
        margin-left:-16px;
        margin-top:-16px;
    }

/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

/* Main
----------------------------------------------------------*/
#Main {
    float:left;
    width:100%;
    text-align:center;
}

#Center {
    margin:0px auto;
    width:880px;
}

/* Brand Item 
----------------------------------------------------------*/

.brandA {
    display:block;
    position:relative;
    width:117px;
    height:58px;
}

.brandA .icon {
    width:100%;
    height:100%;
    float:left;
    display:none;
}

.brandA .icon img {
    width:100%;
    height:100%;
}

.brandA .name {
    position:absolute;
    left:0px;
    top:50%;
    font-size:12pt;
    font-weight:900;
    width:100%;
    margin-top: -9px;
    word-wrap:break-word;
    text-wrap:normal;
    vertical-align:middle;
    text-align:center;
    color:#a2a2a2;
}

/* Brand List
----------------------------------------------------------*/
#Brands {
    width:100%;
    overflow:hidden;
    height:58px;
    max-height:120px;
    background:url("/Content/themes/image/topBK.png") repeat;
}
    #Brands li{
        position:relative;
        width:117px;
        height:58px;
        float:left;
        margin-right:4px;
        margin-bottom:2px;
    }
/* Toolbar
----------------------------------------------------------*/
#Toolbar {
    width:100%;
    height:30px;
    background-color:#50A6BD;
    margin-bottom:10px;
    line-height:30px;
    vertical-align:middle;
    box-shadow:0px 3px 8px 1px rgb(88, 88, 88);
    color:white;
    font-size:10pt;
    font-weight:bold;
}

    #Toolbar .title {
        margin-left:20px;
    }

#userArea {
    float:right;
    margin-right:20px;
}

    #userArea .title {
        margin-right:10px;
    }

        #userArea .title a {
            margin:0px 3px;
        }

    #userArea a {
        color:#cccccc;
    }

        #userArea a:hover {
            color: #cc0000;
        }

/* Category List
----------------------------------------------------------*/
#Categorys {
    position:absolute;
    top:100px;
    left:10px;
    width:150px;
    color:white;
    border-radius:7px;
    box-shadow:0px 3px 8px 3px rgb(204, 204, 204);
}
    #Categorys .TCategory {
        font-size:13pt;
        font-weight:bold;
        height:30px;
        line-height:30px;
        width:100%;
        text-align:center;
        border-top:solid 1px #cccccc;
        position:relative;
        background-color:white;
    }

        #Categorys .TCategory .hover .item{
            background-color:#68BCD3;
            color:white;
            border-right:solid 1px #68BCD3;
            font-weight:700;
        }

    #Categorys .TCategory:first-child {
        border-top:none;
        background:url("/Content/themes/image/main.png") no-repeat -1px -1px;
        background-color:none;
    }

    #Categorys .TCategory:last-child {
        height:8px;
        border-top:none;
        border-bottom:none;
        background:url("/Content/themes/image/main.png") no-repeat -1px -43px;
        background-color:none;
    }

    #Categorys .item {
        width:148px;
        height:30px;
        color:#434343;
        font-size:11pt;
        font-weight:600;
        border-left:solid 1px #cccccc;
        border-right:solid 1px #cccccc;
    }

    #Categorys .subCategory {
        position:absolute;
        left:100%;
        top:-1px;
        width:650px;
        display:none;
        background-color:#68BCD3;        
        box-shadow:8px 8px 8px -5px rgb(204, 204, 204);
    }

    #Categorys .subCategory a:hover {
        color:#FFAA24;
    }

        #Categorys .subCategory .scDiv {
            float:left;
            font-size:80%;
            text-align:left;
            width:48%;
            margin-left:1%;
            margin-right:1%;
        }

        #Categorys .subCategory .scDiv .scName {
            font-weight:bold;
            color:black;
        }

            #Categorys .subCategory a {
                color:white;
            }

        #Categorys .subCategory .scDiv:nth-child(odd) {
            clear:left;
        }

        #Categorys .subCategory .scDiv .threeCategory {
            margin-bottom:7px;
        }

        #Categorys .subCategory .scDiv .tcDiv {
            margin:0px 5px;
            float:left;
            font-size:60%;
            text-align:center;
            height:20px;
            line-height:20px;
            font-weight:normal;
        }

#TopBtn {
    position:absolute;
    width:60px;
    height:63px;
    left:100%;
    margin-left:-60px;
    top:1px;
    display:none;
    background:#FFF url("/Content/themes/image/main.png") no-repeat -153px 0px;
}

#TopBtn:hover {
    background:#FFF url("/Content/themes/image/main.png") no-repeat -212px 0px;
}

    #TopBtn .title {
        margin-top:50px;
        font-size:10pt;
        font-weight:bold;
        color:#B6B6B6
    }

    #TopBtn:hover .title {
        color:#50A6BD;
    }

#Favorite {
    position:absolute;
    top:100%;
    left:10pt;
    width:150px;
    height:150px;
    margin:-160px 0px 0px 0px;
    background:url("/Content/themes/image/favorite.png") no-repeat center;
}

#Cart {
    position:absolute;
    top:100%;
    left:100%;
    width:160px;
    height:145px;
    margin: -155px 0px 0px -160px;
    background:url("/Content/themes/image/shoppingCart.png") no-repeat center;

}

/* Main Block
----------------------------------------------------------*/
.MainBlock {
    width:100%;
    margin-bottom:18px;
    height:396px;
    box-shadow:0px 10px 8px 3px rgb(204, 204, 204);
}

    .MainBlock .top {
        width:100%;
        background:url("/Content/themes/image/mainBlockTop.png") repeat-x 0px 0px;
        height:22px;
        line-height:22px;
        vertical-align:baseline;
        color:#35879d;
    }

        .MainBlock .top .name {
            margin-left:10px;
            float:left;
            font-size:11pt;
            font-weight:bold;
        }

        .MainBlock .pinpai {
            float:right;
        }

        .MainBlock .top .brand {
            float:right;
            margin-right:15px;
        }

        .MainBlock .top .more {
            float:right;
            margin-left:15px;
            margin-right:8px;
        }

    .MainBlock .show {
        width:100%;
        height:374px;
    }

        .MainBlock .show .item {
            float:left;
            margin:0px 5px;
            position:relative;
        }

            .MainBlock .show .item .price {
                position:absolute;
                left:0px;
                top:8px;
                transform: rotate(-10deg);    
		        -o-transform: rotate(-10deg);
		        -webkit-transform: rotate(-10deg);
                filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=0.7660444431189777, M12=-0.6427876096865394, M21=0.6427876096865398, M22=0.7660444431189779);
                background-color:white;
            }

                .MainBlock .show .item .price .mpLB {
                    text-decoration:line-through;
                    font-size:8pt;
                }

                .MainBlock .show .item .price .pLB {
                    color:#cc0000;
                    font-size:10pt;
                    font-weight:bold;
                }

            .MainBlock .show .item img {
                width:145px;
                height:145px;
                margin:5px 5px 2px 2px;
            }

            .MainBlock .show .item .title {
                width:166px;
                height:30px;
                font-size:9pt;
                text-align:left;
                margin:0px 0px 2px 0px;
                overflow:hidden;
            }

    .MainBlock .bottom {
        width:100%;
        height:9px;
        background:url("/Content/themes/image/main.png") repeat-x 0px -72px;
        background-color:none;
    }                
/* Product Detail
----------------------------------------------------------*/
#PD_View {
    width:840px;
    margin:0px auto;
}

    #PD_View .top {
        width:96%;
        height:auto;
        border:solid 1px #ccc;
        border-radius:8px;
        box-shadow:1px 1px 8px 1px rgb(88, 88, 88);
        padding:10px 2%;
    }

#preview {
    width:348px;
    height:auto;
    float:left;
    margin:10px 0px;
}

#categoryNav {
    width:100%;
    height:30px;
    font-size:10pt;
}

    #categoryNav div {
        margin:4px 2px;
        float:left;
    }

#spec-n1 {
    width:348px;
    height:330px;
}

#productImage {
    width:330px;
    height:330px;
    margin:0px 9px;
}

#spec-n5 {
    width:350px;
    height:85px;
    background:url("/Content/themes/image/main.png") no-repeat 0px -80px;
}

    #spec-n5 div {
        margin-top:3px;
        float:left;
        height:100%;
    }

#spec-left {
    width:16px;
    cursor:pointer;
}

#spec-left:hover {
    background:url("/Content/themes/image/main.png") no-repeat -352px -83px;
}

#spec-list {
    width:318px;
    position:relative;
}

    #spec-list li {
        float:left;
    }

    #spec-list .ILUl img{
        margin:7px;
        width:68px;
        height:66px;
        padding:3px 2px;
        margin:3px;
        border:1px solid #cccccc;
    }

#spec-right {
    width:16px;
    cursor:pointer;
}

#spec-right:hover {
    background:url("/Content/themes/image/main.png") no-repeat -369px -83px;
}

#productInfo {
    float:left;
    width:445px;
    height:auto;
    position:relative;
    min-height:415px;
    margin-left:10px;
}

    #productInfo .title {
        width:70px;
        margin-right:2px;
        float:left;
        text-align:right;
    }

    #productInfo .content {
        text-align:left;
    }
    
#productTitle,#productBrand,#productPrice,#productSaleCount,#productSaleType,
#productSend,#productChoose,#productSaleInput,#productCode {
    padding-left:8px;
}

    #productChoose .choseItemPar {
        margin:5px 0px;
        width:100%;
    }

#productSaleInput {
    margin-top:10px;
    height:28px;
    line-height:28px;
    vertical-align:middle;
}

        #productSaleInput input {
            width:52px;
            height:24px;
            float:left;
        }

        #productSaleInput .spinnerLeft {
            width:29px;
            height:30px;
            float:left;
            background:url("/Content/themes/image/main.png") no-repeat -0px -167px;
            cursor:pointer;
        }

        #productSaleInput .spinnerRight {
            width:29px;
            height:30px;
            float:left;
            background:url("/Content/themes/image/main.png") no-repeat -29px -167px;
            cursor:pointer;
        }

        #productSaleInput .spinnerLeft:hover {
            background-position-x:-61px;
        }

        #productSaleInput .spinnerRight:hover {
            background-position-x:-90px;
        }

#productTitle {
    font-size:15pt;
    font-weight:bold;
    width:98%;
    margin: 0px 1%;
    padding:10px 0px;
    text-align:left;
    border-bottom:solid 1px #cccccc;
}

#productBrand {
    overflow:hidden;
    width:100%;
    margin-top:5px;
}

    #productBrand div {
        float:left;
    }

    #productBrand .brandA {
        width:70px;
        height:35px;
    }

    #productBrand .evaluate {
        float:right;
        margin-right:15px;
        width:230px;
        height:35px;
    }

        #productBrand .evaluate .star {
            float:left;
            width:35px;
            height:35px;
            margin-right:8px;
        }

        #productBrand .evaluate .empty{
            background:url("/Content/themes/image/main.png") repeat -123px -167px;
        }

        #productBrand .evaluate .half{
            background:url("/Content/themes/image/main.png") repeat -160px -167px;
        }

        #productBrand .evaluate .full{
            background:url("/Content/themes/image/main.png") repeat -195px -167px;
        }

#productPrice {
    width:103%;
    margin:5px 0px 15px 6px;
    padding:10px 9px 10px 0px;
    height:80px;
    color:#FFC5C5;
    background:url("/Content/themes/image/priceBK.png") repeat;
    font-size:10pt;
    position:relative;
}

    #productPrice div {
        float:left;
    }

    #productPrice .title {
        clear:left;
    }

    #productPrice .price {
        font-size:23pt;
        font-weight:bold;
        margin-left:20px;
        margin-bottom:5px;
        color:white;
    }

    #productPrice .marketPrice {
        text-decoration:line-through
    }

    #productPrice .conner {
        width:6px;
        height:6px;
        position:absolute;
        top:100%;
        left:100%;
        margin-left:-6px;
        background:url("/Content/themes/image/main.png") no-repeat -1px -198px;
    }

#productBtn {
    float:left;
    width:100%;
    margin:10px 0px;
}

#productBtn .p2{
    text-align:center;
    float:left;
}

#productCode {
    margin-top:5px;
    height:22px;
    line-height:22px;
    vertical-align:middle;
}

#productCode .title {
    clear:left;
}

#productCode div {
    float:left;
}

#buyBtn,#keepBtn {
    margin:2px auto;
}

#productSend {
    margin-top:5px;
    margin-bottom:5px;
}

#tabs {
    margin-top:10px;
    border-radius:8px;
    box-shadow:1px 1px 8px 1px rgb(88, 88, 88);
}

#tabs .ui-widget-header{
    background:none;
}

#tabs .ui-widget-header li:first-child {
    margin-left:8px;
}

#tabs .ui-tabs-panel {
    width:98%;
    padding:0px 1%;
}

#tabs .ui-tabs-nav {
    border:none;
    border-bottom:solid 1px #cccccc;
}

#descriptContent {
    margin-top:10px;
    width:100%;
    text-align:center;
}

#descriptContent * {
    text-align:left;
    margin:0px auto;
}

/* Chose Item
----------------------------------------------------------*/
.choseItemPar .choseItem {
    cursor:pointer;
    color:#0078b6;
    padding:1px 5px 1px 15px;
}

.choseItemPar .sel {
    padding:1px 4px 1px 14px;
    border:solid 1px #35879d;
    background: url("/Content/themes/image/main.png") no-repeat -869px 0px;
}

/* Product List
----------------------------------------------------------*/
.productList {
    width:100%;
    margin-top:10px;
}

.tool,.btool {
    width:100%;
    height:20px;
    border-bottom:solid 2px #cc0000;
    text-align:left;
    font-size:10pt;
}

    .tool label {
        margin-right:5px;
    }

    .tool a {
        margin-left:5px;
        padding-left:10px;
    }

    .tool .asc {
        background:url("/Content/themes/image/main.png") no-repeat -871px -22px;
        color:#0000cc;
    }

    .tool .desc {
        background:url("/Content/themes/image/main.png") no-repeat -871px -42px;
        color:#cc0000;
    }

.btool {
    border-top:solid 2px #cc0000;
    border-bottom:none;
    font-size:12pt;
    text-align:center;
    height:36px;
}
    .btool .page {
        margin:7px auto;
    }

        .btool .page .pItem {
            margin:0px 2px;
            border:solid 1px #cccccc;
            padding:2px 5px;
        }

        .btool .page .in {
            background-color:#00a3cc;
            border-color:#00a3cc;
            color:white;
        }

        .btool .page .gray {
            color:#fee;
        }

        .btool .page .pText {
            margin-left:10px;
        }

            .btool .page .pText .goLB {
                margin-left:5px;
            }
        
#GoPIInput {
    margin:0px 2px;
    width:32px;
}

.brandFilter {
    width:100%;
    border:solid 1px #cccccc;
    margin-bottom:5px;
}

    .brandFilter .title {
        float:left;
        width:5%;
        text-align:left;
        margin:10px;
    }

    .brandFilter .content {
        float:left;
        width:80%;
        margin:10px 0px;
        max-height:80px;
        overflow:hidden;
    }

    .brandFilter .btn {
        float:left;
        width:5%;
        margin:10px;
        text-align:center;
    }

        .brandFilter .btn button {
            width:70px;
            margin:0px auto;
        }

        .brandFilter .btn .most {
            margin-top:38px;
        }

    .brandFilter .item {
        width:24%;
        margin-right:1%;
        height:20px;
        float:left;
        text-align:left;
        overflow:hidden;
        text-overflow:ellipsis;
    }

        .brandFilter .item label {
            width:100%;
            font-size:9pt;
        }

.brandShow {
    width:100%;
    border:solid 1px #cccccc;
}

    .brandShow .title {
        float:left;
        width:5%;
        text-align:left;
        margin:10px;
    }

    .brandShow .content {
        float:left;
        width:80%;
        margin:10px 0px;
        max-height:80px;
        overflow:hidden;
    }

        .brandShow .content * {
            float:left;
        }

        .brandShow .content .brandImg {
            width:117px;
            height:58px;
        }

        .brandShow .content .brandName {
            margin-left:10px;
            font-size:15pt;
            font-weight:bold;
        }

    .productList .item {
        float:left;
        width:170px;
        margin:3px;
        font-size:10pt;
    }

    .productList .item:hover {
        box-shadow:0px 3px 8px 1px #c8c8c8;
    }

        .productList .item img{
            height:170px;
            width:170px;
        }

        .productList .item .title{
            width:170px;
            height:34px;
            overflow:hidden;
            text-align:center;
        }

        .productList .item .marketPrice {
            width:170px;
        }
        
            .productList .item .marketPrice label {
                text-decoration:line-through;
            }

        .productList .item .price{
            width:170px;
        }

            .productList .item .price label{
                color:#cc0000;
                font-size:12pt;
                font-weight:bold;
            }

/* User Details
----------------------------------------------------------*/
.mapDiv {
    width:100%;
    height:30px;
    font-size:10pt;
}

.mapDiv div {
    float:left;
    margin:4px 2px;
}

#userInfo {
    width:96%;
    border:solid 1px #cccccc;
    padding:2%;
    margin-bottom:3px;
}

#userInfo .title {
    font-size:10pt;
}

#userInfo .value {
    font-size:9pt;
}

#userInfo .info {
    width:50%;
    max-height:225px;
    height:187px;
    float:left;
    position:relative;
}

    #userInfo .info .headImg {
        position:absolute;
        width:145px;
        height:150px;
        top:0px;
        left:0px;
    }

    #userInfo .info .nameDiv {
        position:absolute;
        top:0px;
        left:158px;
        width:250px;
        height:25px;
        line-height:25px;
        vertical-align:middle;
    }

        #userInfo .info .nameDiv * {
            float:left;
        }

    #userInfo .info .phoneDiv {
        position:absolute;
        top:31px;
        left:158px;
        width:250px;
        height:25px;
        line-height:25px;
        vertical-align:middle;
    }

        #userInfo .info .phoneDiv * {
            float:left;
        }

    #userInfo .info .emailDiv {
        position:absolute;
        top:63px;
        left:158px;
        width:250px;
        height:25px;
        line-height:25px;
        vertical-align:middle;
    }

        #userInfo .info .emailDiv * {
            float:left;
        }

    #userInfo .info .roleDiv {
        position:absolute;
        top:124px;
        left:158px;
        width:250px;
        height:25px;
        line-height:25px;
        vertical-align:middle;
    }

        #userInfo .info .roleDiv * {
            float:left;
        }

    #userInfo .info .giftDiv {
        position:absolute;
        top:93px;
        left:158px;
        width:250px;
        height:25px;
        line-height:25px;
        vertical-align:middle;
    }

        #userInfo .info .giftDiv * {
            float:left;
        }

    #userInfo .info .perDiv {
        position:absolute;
        top:160px;
        left:0px;
        width:409px;
        height:25px;
        line-height:25px;
        vertical-align:middle;
    }

        #userInfo .info .perDiv * {
            float:left;
        }
    
    #userInfo .info .btnDiv {
        position:absolute;
        top:0px;
        left:375px;
        width:30px;
        height:20px;
        padding-left:15px;
        font-size:10pt;
    }

    #userInfo .info .btnDiv .editBtn {
        cursor:pointer;
        line-height:20px;
        vertical-align:middle;
        border:1px solid #cccccc;
    }

#userInfo .rightDiv {
    width:48%;
    height:187px;
    float:left;
    margin-left:2%;
}

    #userInfo .rightDiv .title {
        float:left;
        height:25px;
        width:100%;
        line-height:25px;
        vertical-align:middle;
        text-align:left;
    }

    #userInfo .rightDiv .addresses {
        float:left;
        width:100%;
        height:160px;
    }

        #userInfo .rightDiv .addresses .item {
            padding:5px 10px;
            border:solid 1px #cccccc;
        }

            #userInfo .rightDiv .addresses .item label {
                float:left;
                height:20px;
                line-height:20px;
                vertical-align:middle;
            }

            #userInfo .rightDiv .addresses .item .title {
                width:19%;
                text-align:right;
            }

            #userInfo .rightDiv .addresses .item .value {
                width:70%;
                text-align:left;
                height:auto;
            }

#productList {
    width:100%;
}

    #productList .title {
        font-size:10pt;
    }

    #productList .recent,#productList .recommend{
        float:left;
        width:99%;
        margin:3px 1px;
        padding:3px 3px;
        border:solid 1px #cccccc;
    }
    
        #productList .recent div,#productList .recommend div {
            float:left;
        }

#orderList {
    width:98%;
    padding:1%;
    border:1px solid #cccccc;
}

    #orderList .title {
        font-size:10pt;
    }