@model FCStore.Models.User

@{
    ViewBag.Title = "Login";
}

@if(ViewBag.LoginFail == -2)
{
    <div>
        验证码错误
    </div>
}
else if(ViewBag.LoginFail == -1)
{
    <div>
        用户名或者密码有误
    </div>
}
else
{
    <div>
        登陆成功
    </div>
}

